.featured-products-section {
    padding: 20px;
    background-color: #fff;
}

.featured-products-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.featured-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 2rem;
}


.product-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: transparent; 
    cursor: pointer;
    text-decoration: none;
}


.product-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover .product-image {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
}

.product-name {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.product-price {
    margin-top: 0;
}