.order-history {
    padding: 2rem;
    background-color: #f9f9f9;
}

.order-history h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.order-card {
    margin: auto;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: white;
    max-width: 600px;          
    width: 100%;                
}

.order-image {
    width: 40%;
    height: auto; 
    border-radius: 8px;
    margin-right: 15px; 
}

.order-details {
    flex-grow: 1;
    text-align: center;
}

.order-details span {
    display: block; /* Stack date and amount */
    margin: 5px 0;
}

.order-amount {
    font-size: 25px;
    color: #0000;
}

.status {
    font-weight: bold;
}

.status.delivered {
    color: green;
}

.status.pending {
    color: orange;
}
