.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
    position: relative; 
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 80px; 
}

.nav-search {
    display: flex;
    align-items: center;
    flex: 1; 
    justify-content: center; 
    gap: 30px;
}

.nav-search-dropdown {
    width: 100%; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    max-width: 400px; 
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.nav-icons .cart-icon,
.nav-icons .user-icon {
    height: 40px;
}

.mobile-dropdown-button {
    display: none; 
    cursor: pointer;
    font-size: 30px; 
    color: black; 
    background-color: white; 
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}


.mobile-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%; 
    right: 0; 
    left: 0;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1; 
    width: 100%; 
}

.nav-search-dropdown input {
    width: 100%; 
    padding: 10px; 
}


.nav-icons-dropdown {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
}

.nav-icons-dropdown img {
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
}


.mobile-dropdown-menu a {
    text-decoration: none;
    color: #515151;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0; 
}

.mobile-dropdown-menu a img {
    height: 30px; 
    margin-right: 5px; 
}

.mobile-dropdown-menu a:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .nav-search {
        display: none;
    }

    .nav-icons {
        display: none; 
    }

    .mobile-dropdown-button {
        display: block;
    }

    .mobile-dropdown-menu {
        display: flex; 
    }

    .nav-search-dropdown input {
        font-size: 14px; 
    }
}
